<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Login de usuario</title>
</head>
<body>

	<div class="contenedor">
		<div class="mascara" id="mascara">
			
			<div  class="form" >
				<img src="img/usuario.png">
					<input type="text" name="nick"/>
					<a href="#" id="next" class="button">Siguiente</a>
			</div>
			
			<div class="form">
				<input type="password" name="password">
				<a href="#" class=" button intro">iniciar seccion</a>
				<a href="#" class=" button intro" id="prev">Cancelar</a>
				
			</div>
			
		</div>
</div>



	
	<script type="text/javascript" src="script/libreria.js"></script>
	<script type="text/javascript">
		Obj("#next",()=>{
			Obj("#mascara").classList.add("next");
		});
		Obj("#prev",()=>{
			Obj("#mascara").classList.add("next");
		});
	</script>
	
</body>
</html>